.mt35 {
    margin-top: 35px !important;
}

.addreview-btn {
    padding: 6px 20px !important;
}


/*MODAL CSS STARTS HERE*/

.modal-bg {
    /*background: -webkit-linear-gradient(left, #959595, #f5f5f5) !important;*/
    background: #f5f5f5;
}

.modal-submit {
    /*background-color: #959595;*/
    background-color: #000;
    color: #ffffff;
    border: 0px;
    letter-spacing: 1.5px;
    padding: 10px 20px;
    text-decoration: none;
}

.modal-submit:hover {
    background-color: #959595;
    color: #ffffff;
    border: 0px;
    letter-spacing: 1.5px;
    padding: 10px 20px;
    text-decoration: none;
}

.desc-box {
    width: 100%;
    outline: none;
    padding: 10px;
    background: transparent;
    resize: none;
    height: 100px;
    border-radius: 5px;
}

.label-txt {
    color: #636363;
    font-weight: 700;
}
























/*MODAL CSS ENDS HERE*/


/*JEWELLERIES PAGE CSS STRATS HERE*/

.kanallar-row {
    width: 100%;
    /*height: 455px;*/
    height: 575px;
    background-color: white;
    padding-top: 40px;
}

.kanallar-container {
    /*width: 758px;
    height: 455px;*/
    width: 1000px;
    height: 600px;
    margin: auto;
}

.kanallar-2 {
    /*width: 376px;
    height: 376px;*/
    width: 490px;
    height: 490px;
    float: left;
    position: relative;
}

.kanallar-1 {
    /*width: 376px;
    height: 376px;*/
    width: 490px;
    height: 490px;
    float: left;
    margin-right: 6px;
    background-image: url("../images/jewelleries/banner-neck.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedNecklace 10s linear infinite;*/
}

.kanal-1 {
    /*width: 185px;
    height: 185px;*/
    width: 242px;
    height: 242px;
    margin-right: 6px;
    float: left;
    background-image: url("../images/jewelleries/banner-ring.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 6px;
    position: relative;
    /*background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animtedRings 10s linear infinite;*/
}

.kanal-2 {
    /*width: 185px;
    height: 185px;*/
    width: 242px;
    height: 242px;
    float: left;
    background-image: url("../images/jewelleries/banner-bangle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 6px;
    position: relative;
    background-position: right;
}

.kanal-3 {
    /*width: 185px;
    height: 185px;*/
    width: 242px;
    height: 242px;
    margin-right: 6px;
    float: left;
    background-image: url("../images/jewelleries/banner-pendant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.kanal-4 {
    /*width: 185px;
    height: 185px;*/
    width: 242px;
    height: 242px;
    float: left;
    background-image: url("../images/jewelleries/banner-earring.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.kanallar-1>h2 {
    position: absolute;
    bottom: 0;
}

.kanal-1>h4 {
    position: absolute;
    bottom: 0;
}

.kanal-2>h4 {
    position: absolute;
    bottom: 0;
}

.kanal-3>h4 {
    position: absolute;
    bottom: 0;
}

.kanal-4>h4 {
    position: absolute;
    bottom: 0;
}

.d-bg {
    background-image: url("../images/jewelleries/d.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.e-bg {
    background-image: url("../images/jewelleries/e.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.f-bg {
    background-image: url("../images/jewelleries/f.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.g-bg {
    background-image: url("../images/jewelleries/g.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.h-bg {
    background-image: url("../images/jewelleries/h.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.i-bg {
    background-image: url("../images/jewelleries/i.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.j-bg {
    background-image: url("../images/jewelleries/j.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.w90 {
    width: 90px !important;
}

.w80 {
    width: 80px !important;
}

.pl15 {
    padding-left: 15px;
}

.enquirynow-btn {
    margin-left: 1px;
    margin-right: 8px;
    color: #fff;
    background-color: #cda96f;
    border: 1px #cda96f solid;
    text-decoration: none;
    padding: 2px 13px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.enquirynow-btn:hover {
    background-color: #cda96f;
    text-decoration: none;
    color: #fff;
    border-color: #cda96f;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.pb20 {
    padding-bottom: 20px;
}

.rating ul li a {
    color: #cda96f;
    font-size: 15px;
    margin-bottom: 0;
    padding-right: 4px;
}

.rating ul li {
    padding: 0px;
}

.mb2 {
    margin-bottom: 5px !important;
}

#jewellerieslist .product-gird .grid-product-content .item .product-content h5 a {
    color: #000;
    text-decoration: none;
    float: left;
    margin-top: 0px;
}

#jewellerieslist .product-gird .grid-product-content .item .product-content p {
    color: #a9a9a9;
    text-align: center;
    font-size: 12px;
    margin-top: -2px;
}

a:hover,
a:focus {

    text-decoration: none;
}

#jewellerieslist .product-gird .grid-product-content .item .product-content h5 {
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    min-height: 25px;
    word-spacing: 2px;
}

#jewellerieslist .product-gird .grid-product-content .item .product-content p {
    color: #a9a9a9;
    text-align: center;
}

.watch-name {
    color: #000 !important;
    font-size: 15px !important;
    margin-bottom: 0px;
    /* float: left; */
    /* margin-top: 0px; */
}
























/*BACKGROUND ANIMATION CSS STARTS HERE*/

@keyframes animatedNecklace {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}
























/*@keyframes animtedRings {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 50% 0;
    }
}*/


/*BACKGROUND ANIMATION CSS ERNDS HERE*/

.filter-title {
    background: #e6e6e6;
    color: #343334;
    padding: 7px 15px;
    /*margin-right: 20px !important;*/
    margin: 0px !important;
    font-family: serif-regular;
    font-size: 19px;
    text-transform: capitalize;
}

.filter-title1 {
    background: #e6e6e6;
    color: #343334;
    padding: 7px 15px;
    margin-right: 20px !important;
    /*margin: 0px !important;*/
    font-family: serif-regular;
    font-size: 19px;
    text-transform: capitalize;
}

.color-ul li {
    display: inline-block;
    width: 13%;
}

.w100 {
    width: 100%;
}

.fluorescence-ul li {
    display: inline-block;
    width: 18%;
}
























/*TABLE-CSS STARTS HERE*/

table {
    border-collapse: collapse;
    width: 100%;
}

table.normal {
    border: 2px solid #000000;
}

thead {
    background: #000000;
    color: white;
}

th,
td {
    text-align: center;
    padding: 5px 2px;
    font-size: 12px;
}

tbody tr:nth-child(even) {
    background: #ECF0F1;
}

tbody tr:hover {
    background: #BDC3C7;
    color: #FFFFFF;
}

.fixed {
    top: 0;
    position: fixed;
    width: auto;
    display: none;
}

.end {
    margin-top: 800px;
}

.pointer {
    cursor: pointer !important;
}


.value {
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -20px;
    width: 40px;
    text-align: center;
    display: block;

    /* optional */
    font-weight: normal;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.price-range-both.value {
    width: 100px;
    margin: 0 0 0 -50px;
    top: 26px;
}

.price-range-both {
    display: none;
}

.value i {
    font-style: normal;
}
























/*TABLE-CSS ENDS HERE*/


/*OUR-EXPERTISE NEW CSS STARTS HERE*/

.gridywrap div[class*=gridy] {
    background: #eee;
    box-shadow: inset 0 0 0 1px #ddd;
    padding: 15px;
    float: left;
    position: relative;
}

.gridywrap .gridy-1,
.gridywrap .gridy-2,
.gridywrap .gridy-3 {
    width: 320px;
    overflow: hidden;
}

.gridywrap .gridy-1 {
    width: 100%;
}

.gridywrap .gridy-2 {
    width: 100%;
}

.gridywrap .gridy-3 {
    width: 100%;
}

.gridywrap .gridyhe-1 {
    height: 320px;
}

.gridywrap .gridyhe-2 {
    height: 320px;
}


@media screen and (min-width: 640px) {
    .gridywrap .gridyhe-2 {
        height: 320px;
    }
    .gridywrap {
        width: 100%;
    }
    .gridywrap .gridy-1 {
        width: 50%;
    }
    .gridywrap .gridy-2 {
        width: 50%;
    }
    .gridywrap .gridy-3 {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .gridywrap .gridy-1 {
        width: 33.3%;
    }
    .gridywrap .gridy-2 {
        width: 66.6%;
    }
    .gridywrap .gridy-3 {
        width: 100%;
    }
    .gridywrap .gridyhe-2 {
        height: 640px;
    }
}
























/*styling*/

.gridywrap .gridimg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}

.gridywrap .gridimg img {
    width: 100%;
}

.gridywrap .gridinfo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: all 0.8s;
}

.gridywrap .gridinfo h3 {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 130px 0 20px;
    position: relative;
}


















/*.gridywrap .gridinfo h3:after {
    content: '';
    width: 25px;
    border-top: 4px solid #fff;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}*/

.gridywrap .gridinfo .gridmeta {
    transition-delay: 0.25s;
}

.gridywrap .gridinfo .gridmeta p {
    display: inline-block;
    font-size: 13px;
    color: #fff;
    margin-bottom: 15px;
}

.gridywrap .gridinfo .gridmeta p i {
    margin-right: 5px;
}

.gridywrap .gridinfo .gridmeta p.gridwho {
    margin-left: 25px;
}

.gridywrap .gridinfo p.gridexerpt {
    width: 61%;
    font-size: 16px;
    margin: 0 auto;
    line-height: 22px;
    letter-spacing: 0.4px;
    margin-bottom: 25px;
    color: #fff;
    transition-delay: 0.5s;
    /*font-family: 'Playfair Display', 'Arial', sans-serif !important;*/
}

.gridywrap .gridinfo * {
    opacity: 0;
    transition: all 0.8s;
}

.gridywrap .gridinfo h3 {
    opacity: 1;
}

.gridywrap .gridinfo .grid-btn {
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 25px;
    border: 1px solid #fff;
    display: block;
    overflow: hidden;
}

.gridywrap .gridinfo .grid-btn:hover {
    width: 75px;
    background: rgba(0, 0, 0, 0.3);
}

.gridywrap .gridinfo .grid-btn span {
    opacity: 0;
    display: none;
    transition: opacity 0.8s;
}

.gridywrap .gridinfo .grid-btn:hover span {
    opacity: 1;
    display: inline;
}

.gridywrap .gridinfo .grid-btn:hover i {
    opacity: 0;
    display: none;
}

.gridywrap .gridinfo:hover * {
    opacity: 0.7;
}

.gridywrap .gridinfo:hover p {
    opacity: 1;
}

.gridywrap .gridinfo:hover {
    background: rgba(38, 38, 38, 0.76);
}

.gridywrap .gridinfo:hover h3 {
    /*margin-top: 70px;*/
    margin-top: 25px;
    opacity: 1;
}

.intro {
    text-align: center;
    padding: 25px;
    background: #111;
    color: #ddd;
}
























/*h1 {
        font-size: 48px;
        font-weight: 300;
        padding: 15px 0;
    }*/

.intro p {
    opacity: 0.5;
    font-size: 12px;
}

.intro p a {
    color: #FA8CD3;
}
























/*OUR-EXPERTISE NEW CSS STARTS HERE*/

.fs20 {
    font-size: 20px;
}

.load-more {
    display: inline-block;
    float: left;
    padding: 43px 0 86px;
    width: 100%;
}

.load-more a:hover {
    background-color: #000;
    color: #fff;
    -webkit-transition: all 300ms 0s ease;
    -moz-transition: all 300ms 0s ease;
    -ms-transition: all 300ms 0s ease;
    -o-transition: all 300ms 0s ease;
    transition: all 300ms 0s ease;
}




/*.load-more a {
    border: 1px solid #1b1b1b;
    color: #1b1b1b;
    letter-spacing: 0.5px;
    padding: 21px 84px;
    text-decoration: none;
}*/

.load-more a {
    border: 1px solid #000;
    color: #000;
    letter-spacing: 0.5px;
    padding: 21px 84px;
    text-decoration: none;
}

a {
    text-decoration: none;
}


.table-wishlist-1 td:nth-child(2),
.table-wishlist-1 th:nth-child(2) {
    width: 10%;
}

.table-wishlist-1 td,
.table-wishlist-1 th {
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}

.w50 {
    width: 50%;
}

.wishlist-enquiry {
    letter-spacing: 1.5px;
    padding: 8px 15px !important;
    font-size: 11px !important;
    word-spacing: 3px;
}

.h100 {
    height: 100px;
}

.fs18 {
    font-size: 18px;
}

.text-center {
    text-align: center;
}

.delete-txt {
    color: red !important;
}

.ptb20 {
    padding: 20px 0px !important;
}

.buynow-btn {
    letter-spacing: 1.5px;
    padding: 4px 10px !important;
    font-size: 10px !important;
    word-spacing: 3px;
}

.expertisestatic-txt {
    color: black;
    font-size: 26px;
}



.cover .cover__title {
    bottom: 0;
    right: 100px;
    display: inline-block;
    margin: auto;
    max-height: 100px;
    top: 234px;
}



.hide-checkbox+label {
    display: block;
    float: left;
    width: 100%;
    height: 30px;
    padding: 4px 0;
    text-align: center;
    /*background-color: #e74c3c;*/
    background-color: transparent;
    font-family: 'Oswald', sans-serif;
    color: #080808;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.hide-checkbox+label.img-label {
    display: block;
    float: left;
    width: 100%;
    border: 1px solid #e5e5e5;
    /*height: 75px;*/
    height: 60px;
    padding: 4px 0;
    text-align: center;
    /*background-color: #e74c3c;*/
    background-color: transparent;
    font-family: 'Oswald', sans-serif;
    color: #080808;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.hide-checkbox:checked+label {
    display: inline-block;
    /*background-color: #2ecc71;*/
    background-color: #a7a7a7;
    color: #000;
}

.img-w75 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
























/*JEWELLERIES PAGE CSS ENDS HERE*/

@media screen and (max-width: 414px) and (min-width: 320px) {
    .hide-checkbox+label.img-label {
        display: block;
        float: left;
        width: 100%;
        height: 220px;
        padding: 4px 0;
        text-align: center;
        /* background-color: #e74c3c; */
        background-color: transparent;
        font-family: 'Oswald', sans-serif;
        color: #080808;
        -webkit-transition: background-color 0.3s ease-in-out;
        -moz-transition: background-color 0.3s ease-in-out;
        -o-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
    }
    .hide-checkbox:checked+label {
        display: inline-block;
        /*background-color: #2ecc71;*/
        background-color: #f27242;
        color: #fff;
    }
    .w60 {
        width: 60%;
    }
    .mlrauto {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) and (min-width: 420px) {
    .hide-checkbox+label.img-label {
        display: block;
        float: left;
        width: 100%;
        height: 175px;
        padding: 4px 0;
        text-align: center;
        /* background-color: #e74c3c; */
        background-color: transparent;
        font-family: 'Oswald', sans-serif;
        color: #080808;
        -webkit-transition: background-color 0.3s ease-in-out;
        -moz-transition: background-color 0.3s ease-in-out;
        -o-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
    }
    .hide-checkbox:checked+label {
        display: inline-block;
        /*background-color: #2ecc71;*/
        background-color: #f27242;
        color: #fff;
    }
    .w60 {
        width: 75%;
    }
    .mlrauto {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    .fs20 {
        font-size: 12px;
    }
}

@media screen and (max-width: 414px) {
    .fs20 {
        font-size: 6px;
    }
}

@media screen and (max-width: 320px) {
    .fs20 {
        font-size: 5px;
    }
}

.title-txt {
    font-size: 20px;
    letter-spacing: 3px !important;
    text-transform: uppercase;
    /*font-family: cursive;*/
}

.uppercase {
    text-transform: uppercase;
}

.gridywrap .gridinfo:hover * {
    opacity: 1;
}

.filter-ul {
    padding: 0px;
    /*border: 1px solid;*/
    height: auto;
}

.color-ul li {
    display: inline-block;
    width: 7%;
}

.cut-ul li {
    display: inline-block;
    width: 18%;
}

.clarity-ul li {
    display: inline-block;
    width: 15%;
}

.polish-ul li {
    display: inline-block;
    width: 18%;
}

.symmetry-ul li {
    display: inline-block;
    width: 18%;
}

.shape-ul li {
    display: inline-block;
    width: 9%;
}

.plr0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.filter-ul1 {
    padding: 0px;
    /*border: 1px solid;*/
    height: 62px;
}

.hide-checkbox+label:hover {
    display: block;
    float: left;
    width: 100%;
    height: 30px;
    padding: 4px 0;
    text-align: center;
    /* background-color: #e74c3c; */
    background-color: #a7a7a7;
    font-family: 'Oswald', sans-serif;
    color: #000;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.hide-checkbox+label.img-label:hover {
    display: block;
    float: left;
    width: 100%;
    /* height: 75px; */
    height: 60px;
    padding: 4px 0;
    text-align: center;
    /* background-color: #e74c3c; */
    background-color: hsl(0, 0%, 90%);
    font-family: 'Oswald', sans-serif;
    color: #080808;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

label.pointer {
    border: 1px solid #e5e5e5;
}

.filtersec-bg {
    background: white;
    box-shadow: 5px 5px 5px 1px #d9dadb;
}



























/*NEW HEADER STARTS HERE*/

.header-container.type1 {
    position: relative !important;
    z-index: 10 !important;
    /*opacity: .5;*/
    width: 100% !important;
}

.header-container.type1 a {
    color: #fff !important;
}

















/*.main-menu .nav .menu-item:hover>a,
.main-menu .nav .menu-item:active>a {
    background-color: #efefef !important;
    color: #000 !important;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}*/


/*.main-menu .nav .menu-item a {
    letter-spacing: 0.1px !important;
    padding: 35px 21px 35px 19px !important;
}*/

.header-container.type1 .group-account {
    color: #fff;
    padding: 30px 0px;
    float: right;
}

.header-container.type1 .header-middle .group-social {
    float: right !important;
    margin-right: 5px !important;
    margin-top: 12px !important;
}

.header-container.type1 .header-middle .group-social li {
    padding: 21px 6.7px;
}

.mega-menu .links-mega .item__menu .border__title a {
    color: #000 !important;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.mega-menu .links-mega .item__menu .list-item a {
    color: #000 !important;
    font-size: 12px;
    letter-spacing: 1.4px !important;
}

.mega-menu {
    width: 700px;
    position: absolute;
    display: inline-block;
    z-index: 2;
    left: 0;
    background: rgba(231, 231, 231, 0.86);
    color: #000;
    box-shadow: 0px 0px 10px 1px rgba(181, 181, 181, 0.3);
    padding: 23px 0 47px 0;
    display: none;
    left: -310px;
}













/*.ptb35 {
    padding: 35px 21px 35px 19px !important;
}
*/

.ptb35 {
    padding: 25px 0px 25px 40px !important;
}

.pl30 {
    padding-left: 30px !important;
}

























/*NEW HEADER ENDS HERE*/

.banner-content {
    text-align: center;
    font-size: 44px;
    color: #e6e6e5;
    /*font-family: 'Playfair Display', 'Arial', sans-serif !important;*/
}

.whiteclr {
    color: #fff !important;
}

.t25 {
    top: 25px !important;
    left: 45px;
}

.textleft {
    text-align: left;
}

.themefont {
    font-family: 'Playfair Display', 'Arial', sans-serif !important;
}

.mt100 {
    margin-top: 100px !important;
}

.banner-content1 {
    text-align: center;
    font-size: 22px;
    color: #e6e6e5;
    /*font-family: 'Playfair Display', 'Arial', sans-serif !important;*/
}

.w50 {
    width: 50% !important;
}

.static-solitaries {
    /*border: 1px solid;*/
    width: 85%;
    height: 225px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        right: 20%;
        left: 20%;
        bottom: -10px;
        padding-bottom: 0px !important;
    }
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: -60px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000;
    text-align: center;
    /*text-shadow: 0 1px 2px rgba(0, 0, 0, .6);*/
    text-shadow: none;
}

.carousel-inner {
    position: relative;
    height: 225px;
    width: 100%;
    overflow: hidden;
    border: 1px solid #e6e6e6;
}

@media screen and (min-width: 768px) {

    .carousel-indicators {
        bottom: 70px;
    }
}

.slider.slider-horizontal {
    height: 45px;
    width: 100% !important;
}

.mlra {
    margin-left: auto;
    margin-right: auto;
}

.mt20 {
    margin-top: 20px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.w25 {
    width: 25% !important;
}

.w20 {
    width: 45% !important;
}

.static-clrsec {
    border: 1px solid #e6e6e6;
    width: 85%;
    height: 225px;
    margin-left: auto;
    margin-right: auto;
}

.clr-name {
    margin-top: 0px;
    text-align: center;
}

.w60 {
    width: 60% !important;
}

.currency-txt {
    font-size: 18px;
    text-align: right;
    margin-bottom: 0px !important;
    margin-top: 10px;
}

.forminput-carat {
    height: 35px;
    color: #111;
    letter-spacing: 0.7px;
    margin-right: 20px;
    width: 100%;
    padding-left: 7px;
    border: 1px solid #ccc;
}

.static-caratsec {
    border: 1px solid #e6e6e6;
    width: 90%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

















/*.header-container.type1 a:hover {
    color: #000 !important;
}*/

.menusubheading {
    font-size: 10px;
    color: #ccc !important;
}

.bannerimg {
    width: 100% !important;
    /*height: 100vh !important;*/
}

.landpgbanner {
    padding: 0;
    margin: 0;
    /*background-color: #110019;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center center;*/
    background-image: url('../images/prismarc/bannerimage1.jpg');
}

.jwlbanner {
    padding: 0;
    margin: 0;
    /*background-color: #110019;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center center;*/
    background-image: url('../images/jewelleries/jewellery-banner.png');
}

.jwlbanner-content {
    text-align: center;
    font-size: 35px;
    color: #e6e6e5;
    letter-spacing: 3px;
}

.jwlbanner-content1 {
    text-align: center;
    font-size: 16px;
    color: #e6e6e5;
    line-height: 30px;
    letter-spacing: 0.4px;
}

.neckbanner {
    padding: 0;
    margin: 0;
    /*background-color: #110019;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../images/prismarc/banners/necklacebanner.jpg');
}

.neckbanner-content {
    /*text-align: center;*/
    font-size: 30px;
    color: #e6e6e5;
    margin-top: 200px;
    letter-spacing: 3px;
    text-transform: uppercase;
    /*font-family: 'Playfair Display', 'Arial', sans-serif !important;*/
}

.bannerhr {
    margin: 5px 0px !important;
    width: 30% !important;
}

.neckbanner-content1 {
    /*text-align: center;*/
    font-size: 24px;
    color: #e6e6e5;
    line-height: 30px;
    text-transform: uppercase;
}

.watchbanner {
    padding: 0;
    margin: 0;
    /*background-color: #110019;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-image: url('../images/prismarc/banners/watchbanner.jpg');
}

.watchbanner-content {
    /*text-align: center;*/
    font-size: 24px;
    color: #e6e6e5;
    letter-spacing: 3px;
    text-transform: uppercase;
    /*font-family: 'Playfair Display', 'Arial', sans-serif !important;*/
}

.watchbanner-content1 {
    /*text-align: center;*/
    font-size: 18px;
    color: #e6e6e5;
    line-height: 30px;
    text-transform: uppercase;
    /*letter-spacing: 0.4px;*/
    letter-spacing: 3px;
}

.mt50 {
    margin-top: 50px !important;
}

.company-content {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.4px;
}

.mean-container .mean-nav {
    background: #000000 none repeat scroll 0 0;
    float: left;
    margin-top: 6px;
    position: absolute;
    width: 90%;
    z-index: 9999;
}

.mean-container a.meanmenu-reveal span {
    display: block;
    background: #e6e6e5;
    height: 3px;
    margin-top: 3px;
}

.mean-container a.meanmenu-reveal {
    width: 22px;
    margin-top: 20px;
    height: 22px;
    padding: 13px 13px 11px 13px;
    position: relative;
    cursor: pointer;
    color: #363636;
    text-decoration: none;
    font-size: 16px;
    text-indent: -9999em;
    line-height: 22px;
    font-size: 1px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.ls3 {
    letter-spacing: 3px !important;
}

.contact-det {
    font-size: 18px;
    line-height: 27px;
    color: #e6e6e5;
    letter-spacing: 0.4px;
    /*padding-left: 40px;*/
}

.contact-box {
    background: #000;
    box-shadow: 1px 4px 18px 2px rgba(66, 66, 66, 0.39);
    margin-top: 20px;
}

.plr20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.box-shadow {
    box-shadow: 1px 4px 18px 2px rgba(66, 66, 66, 0.39);
}

.pendantbanner {
    padding: 0;
    margin: 0;
    /*background-color: #110019;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center center;*/
    background-image: url('../images/prismarc/banners/pendantsbanner.jpg');
}

.mt300 {
    margin-top: 300px;
}

.earringbanner {
    padding: 0;
    margin: 0;
    /*background-color: #110019;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../images/prismarc/banners/earringsbanner.jpg');
}

.banglebanner {
    padding: 0;
    margin: 0;
    /*background-color: #110019;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../images/prismarc/banners/banglesbanner.jpg');
}

.mt175 {
    margin-top: 175px !important;
}

.mt250 {
    margin-top: 250px !important;
}

.companybanner {
    padding: 0;
    margin: 0;
    /*background-color: #110019;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center center;*/
    background-image: url('../images/prismarc/banners/companybanner.jpg');
}

.solitarybanner {
    padding: 0;
    margin: 0;
    /*background-color: #110019;*/
    background-repeat: no-repeat;
    background-size: contain;
    /*background-position: center center;*/
    background-image: url('../images/solitaries/solitary-banner.jpg');
}

.h100vh {
    height: 100vh !important;
}

.p20 {
    padding: 20px !important;
}

.p10 {
    padding: 10px !important;
}

.ringbanner {
    padding: 0;
    margin: 0;
    /*background-color: #110019;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center center;*/
    background-image: url('../images/prismarc/banners/ringbanner.png');
}

.ringbanner-content {
    font-size: 24px;
    margin-left: 50px;
    color: #e6e6e5;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.ringbanner-content1 {
    /* text-align: center; */
    font-size: 18px;
    color: #e6e6e5;
    margin-left: 50px;
    line-height: 30px;
    text-transform: uppercase;
    /* letter-spacing: 0.4px; */
    letter-spacing: 3px;
}

.ringbanner-content2 {
    /* text-align: center; */
    font-size: 18px;
    color: #e6e6e5;
    margin-top: 100px;
    margin-left: 50px;
    line-height: 30px;
    text-transform: uppercase;
    /* letter-spacing: 0.4px; */
    letter-spacing: 3px;
}

.companybanner-content {
    text-align: center;
    font-size: 30px;
    color: #e6e6e5;
    /* font-family: 'Playfair Display', 'Arial', sans-serif !important; */
}

.list-item {
    display: grid;
}

.solitaries-content {

    font-size: 24px;
    color: #000;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

.solitaries-content1 {
    text-align: center;
    font-size: 18px;
    color: #000;
    line-height: 30px;
    letter-spacing: 0.4px;
    /*letter-spacing: 3px;*/
    padding-left: 30px;
    padding-right: 30px;
}






/*NEW CSS STARTS HERE*/

.modal .modal-dialog .modal-content .close {
    box-shadow: none;
    color: #9e9e9e;
    font-size: 24px;
    opacity: 1;
    position: absolute;
    right: 15px;
    text-shadow: none;
    top: 15px;
    z-index: 999;
}

.h25vh {
    height: 25vh;
}

.mb10 {
    margin-bottom: 10px;
}

.loginbtn {
    background: #000!important;
    color: #fff !important;
}

.mt200 {
    margin-top: 200px !important;
}

.mt150 {
    /*margin-top: 150px !important;*/
    position: fixed;
    top: 25%;
    left: 38%;
}


/*NEW CSS STARTS HERE*/

.carttotal {
    font-size: 22px;
    font-weight: 600;
}

.cartname {
    font-size: 20px;
}

.proceedcheckout {
    width: 100%;
    margin-top: 20px;
}

.qty-input {
    border: 1px solid !important;
    border-radius: 19px !important;
    display: inline-block !important;
    float: left !important;
    height: 31px !important;
    margin: 0 10px 0 0 !important;
    max-width: 60px !important;
    position: relative !important;
    text-align: center !important;
}

.qty-plus {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    display: inline-block;
    float: left;
    font-size: 17.5px;
    font-weight: 700;
    margin-right: 5px;
    padding: 2px 10px;
    position: relative;
}

.qty-minus {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    display: inline-block;
    float: left;
    font-size: 17.5px;
    font-weight: 700;
    padding: 2px 10px;
    position: relative;
}

.cartsubtotal {
    border: 1px solid #ccc;
    padding-bottom: 20px;
    padding-top: 20px;
}

.pricerangetxt {
    font-weight: 700;
    font-size: 18px;
    color: #333;
}

.addiconbtn {
    font-size: 60px;
    padding-top: 20px;
    color: #fff;
}

.pt0 {
    padding-top: 0px !important;
}

.checkout-form .payment-right .tab-menu .type-general li:hover a p {
    background-color: #1b1b1b;
    color: #fff;
}

.addrsboxtxt {
    width: 100% !important;
    padding: 10px 10px;
    color: #000;
}

.w180 {
    width: 180px;
}

.addrsbox {
    background-color: #efefef;
    border: 1px solid #efefef;
    border-radius: 5px;
    display: block;
    position: relative;
    text-decoration: none;
    height: auto;
    padding: 10px 10px;
    color: #000;
    margin-bottom: 10px;
}

.addrsbox:hover {
    background-color: #1b1b1b;
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    display: block;
    position: relative;
    text-decoration: none;
    height: auto;
    padding: 10px 10px;
    color: #fff;
}

.addrsbox a {
    color: #000;
    font-size: 16px;
}

.addrsbox:hover a {
    color: #fff;
    font-size: 16px;
}
.addnewaddrsbox {
    background-color: #1b1b1b;
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    display: block;
    position: relative;
    text-decoration: none;
    height: 150px;
    padding: 10px 10px;
    color: #fff;
}
.primarycolor {
    color: red;
}
.checkout-title {
    margin-bottom: 30px;
    margin-top: 30px;
}
table-wishlist-2 td:nth-child(2), .table-wishlist-2 th:nth-child(2) {
    width: 10%;
}
table-wishlist-2 td:nth-child(3), .table-wishlist-2 th:nth-child(3) {
    width: 15%;
}
.checkoutborderbottom{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.fs22{
    font-size: 22px;
}
.itemcategory{
    color: #717070;
}
.profileimg{
    border-radius: 100%;
    height: 100px;
    width: 100px;
}
.fs26{
    font-size: 26px;
}
.infobtn{
    font-size: 20px;
    color: #827f7f;
}
.order-plcd {
    background: #d0a652;
    color: #fff;
    border-radius: 5px;
    padding: 2px 10px;
}
.order-aprvd {
    background: #337fa5;
    color: #fff;
    border-radius: 5px;
    padding: 2px 10px;
}
.order-cncld {
    background: #d02142;
    color: #fff;
    border-radius: 5px;
    padding: 2px 10px;
}
.order-cmpltd {
    background: #2f8788;
    color: #fff;
    border-radius: 5px;
    padding: 2px 10px;
}
/*NEW CSS ENDS HERE*/
@media screen and (max-width:500px){
    .p20mobile{
        padding: 20px !important;
    }
}
.p15{
    padding: 15px !important;
}
.group-social .top-mini-cart a>span>span:before {
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
}
.group-social .top-mini-cart a>span .number-items {
    top: -7px;
}
.carticon{
    font-size: 18px !important;
    margin-top: 4px !important;
    color: #fff !important;
}
.filtersearch{
    border-top: 0px;
    border-right: 0;
    border-left: 0;
    background: transparent;
    outline: none;
}